.material-icons {
    font-size: 48px;
    color: var(--grey);
}

div#top-half {
    height: 15vh;
    text-align: left;
    margin: auto;
    padding: 0;
    align-content: left;
    justify-content: center;
    display: flex;
    background-color: var(--blue);
}

header { 
    color: var(--new-header-nav-background);
}

header h1 {
    font-size: 2.1rem;
}

div#top-half img {
    filter: saturate(2.1);
    transform: rotate(180deg);
    display: flex;
    min-width: 100px;
    align-self: flex-start;
     -webkit-animation: 1.55s ease-out 0s 1 alternate move_header; 
           animation: 1.55s ease-out 0s 1 alternate move_header; 
}

div#top-half:hover img {
    align-self: flex-end;
    transform: rotate(0deg);
}

#middle {
    height: 70vh;
    width: 100vw;
    align-content: left;
    justify-content: space-around;
    display: flex;
    margin: auto;
    flex-direction: row; 
}

#column {
    display: flex;
    min-width: 10vw;
    flex-direction: column;
    align-content: center;
    background-color: var(--grey-lightest);

}



#map {
    display: flex;
    max-width: 90vw;
    flex-grow: 5;

    background-color: var(--green-lightest);
}

path:hover {
    stroke: var(--amber);
    stroke-width: 4px;
    fill: var(--pink);
}

div.holder span {
    display: block;
    text-align: left;
}

@-webkit-keyframes move_header { from { margin-left: 20%; } to { margin-left: 0%; }  }
        @keyframes move_header { from { margin-left: 20%; } to { margin-left: 0%; }  }



